<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <div>
      <p><span>Hi</span> <%= fullName %>,</p>
      <p>
        This is to inform you that your subscription has expired and<br />
        your products will no longer be visible to buyers.<br />
        Please subcribe to any of our plans to continue to enjoy our services
      </p>
    </div>
    cheers Twizll team.
  </body>
</html>
