<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <div>
      <p><span style="font-weight: bold">FullName:</span> <%= fullName %></p>
      <p><span style="font-weight: bold">Email: </span><%= email%></p>
      <p><span style="font-weight: bold">Phone:</span> <%= phone%></p>
      <p><span style="font-weight: bold">User Type:</span> <%= role %></p>
      <p><span style="font-weight: bold">Country: </span><% country %></p>
    </div>
  </body>
</html>
