<html>
  <head>
    <title>Reset password</title>
  </head>
  <body>
    <div>
      <span style="font-weight: bold">Hi <%= fullName %>,</span><br />
      <span>Please click on the link bellow to reset your password</span><br />
      <span><%= resetLink %> <br />Cheers!</span>
    </div>
    twizll team
  </body>
</html>
