<html>
  <head>
    <title>Temporary password</title>
  </head>
  <body>
    <h2>Temporary password</h2>
    <div>
      <span style="font-weight: bold">Hi <%= fullName %></span><br />
      <span>Congratulations!</span>
      <span>You have successfully created your account.</span>
      <span>
        This is your
        <span style="font-weight: bolder">Temporary password.<br /></span>
        Please use forgot password to change it.
        <br />
        <%= socialId %>
        <br />cheers!</span
      >
    </div>
    twizll team
  </body>
</html>
