<html>
  <head>
    <title>Verify Email</title>
  </head>
  <body>
    <div>
      <span style="font-weight: bold">Hi <%= fullName %></span><br />
      <span>Congratulations!</span>
      <span>You have successfully created your account.</span>
      <span>
        Verification code is :
        <br />
        <span><%= otp %></span>
        <br />
        cheers!
      </span>
    </div>
    twizll team
  </body>
</html>
