<html>
  <head>
    <title>Verify Email</title>
  </head>
  <body>
    <div>
      <span style="font-weight: bold">Hi <%= fullName %></span><br />
      <span>Congratulations!</span>
      <span>You have successfully created your account.</span>
      <span>
        Complete account sign up by clicking on the link:
        <br />
        <a href="<%= verificationLink %>">Verify Email</a>

        <br />cheers!</span
      >
    </div>
    twizll team
  </body>
</html>
