<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <style>
      .pass_show {
        position: relative;
      }

      .pass_show .ptxt {
        position: absolute;

        top: 50%;

        right: 10px;

        z-index: 1;

        color: #f36c01;

        margin-top: -10px;

        cursor: pointer;

        transition: 0.3s ease all;
      }

      .pass_show .ptxt:hover {
        color: #333333;
      }
    </style>
    <title>Reset password</title>
  </head>
  <body>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 mx-auto mt-5">
            <span class="mb-5" style="color: red"><%= message %></span><br />
            <form method="post" action="<%= url %>">
              <label>New Password</label>
              <div class="form-group pass_show">
                <input type="password" class="form-control" name="pass" />
              </div>
              <label>Confirm Password</label>
              <div class="form-group pass_show">
                <input type="password" class="form-control" name="confirm" />
              </div>
              <button id="submitBtn" class="btn btn-warning">proceed</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
    <script src="/main.js"></script>
    <script></script>
  </body>
</html>
