<html>
  <head>
    <title>Verify Email</title>
  </head>
  <body>
    <div>
      <span style="font-weight: bold;">Hi <%= fullName %>, Congratulations!</span><br>
      <span>You have successfully created your account.</span>
      <span>Complete account sign up by clicking on the link:<br/> <%= verificationLink %> <br>Thank you!</span>
    </div>
    twizll team
  </body>
</html>